@import url('https://fonts.googleapis.com/css?family=Nova+Square|Open+Sans:400,600');
@font-face {
  font-family: "planetn";
  src: url("fonts/Planetnv2.ttf");
}
.clear{
	clear:both !important;
}
#sobimg img{
	width:400px;
	margin:0 auto;
	margin-top:10px;
	display:block;
}
#sobimg h1{
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:600;
	font-size:40px;
	text-align:center;
	width:750px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:30px;
}
#goldbg{
	padding-top:120px;
	background:#ffc627;
	margin-top: -26px;
	padding-bottom:120px;
}
#triangledivider img,#triangledivider a{
	width:400px;
	margin:0 auto;
	display:block;
}
@keyframes animatedBackground {
	from { background-size: 90% 90%; }
	to { background-size: 100% 100%; }
}
@keyframes animatedBackgroundTwo {
	from { background-size: 100% 100%; }
	to { background-size: 90% 90%; }
}
#goldbg div.col-md-3{
	width:230px !important;
	height:230px !important;
	max-width:230px !important;
	background:#fff;
	padding:0px;
	margin-left:30px;
	background-image:url("../images/bg-corner.png");
	background-color:#fff;
	background-repeat:no-repeat;
	background-position: center center;
	float:left;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	animation: animatedBackgroundTwo 0.3s linear;
    -ms-animation: animatedBackgroundTwo 0.3s linear;
    -moz-animation: animatedBackgroundTwo 0.3s linear;
    -webkit-animation: animatedBackgroundTwo 0.3s linear;
}
#goldbg div.col-md-3:nth-child(1){
	margin-left:0;
}
#goldbg .cont{
	margin:0 auto;
}
#goldbg div.col-md-3:hover{
	background-size:100% 100%;
	animation: animatedBackground 0.5s linear;
    -ms-animation: animatedBackground 0.5s linear;
    -moz-animation: animatedBackground 0.5s linear;
    -webkit-animation: animatedBackground 0.5s linear;
}
#goldbg div h2{
	font-size:50px;
	text-align:center;
	font-family:'planetn';
	letter-spacing: 3px;
	line-height:230px;
}
#goldbg div h4{
	font-family: 'Nova Square', cursive;
	font-size:25px;
	text-align:center;
	margin-top:-60px;
}
#goldbg div h5{
	font-family: 'Nova Square', cursive;
	font-size:18px;
	text-align:center;
	margin-top:30px;
}
#goldbg a{
	color:#000;
	text-decoration:none;
}
footer{
	height:75px;
	background:#acacac;
	width:100%;
	margin:0 auto;
}
.container.ft{
	padding-left:0;
	padding-right:0;
}
footer p{
	font-family: 'Nova Square', cursive;
	text-align:center;
	font-size:18px;
	color:#fff;
	line-height:75px;
}
@media (min-width: 1000px) and (max-width: 1200px) {
	#goldbg div.col-md-3{
		width:215px !important;
		height:215px !important;
		margin-left:15px;
	}
	#goldbg div h2 {
    font-size: 45px;
    line-height: 215px;
	}
}
@media (min-width: 850px) and (max-width: 999px) {
	#goldbg div.col-md-3{
		width:173px !important;
		height:173px !important;
		margin-left:7px;
		background-size:90% 90%;
	}
	#goldbg div h2 {
    font-size: 40px;
    line-height: 173px;
	}
}
@media (min-width: 700px) and (max-width: 851px) {
	#goldbg div.col-md-3{
		width:130px !important;
		height:130px !important;
		margin-left:5px;
		background-size:90% 90%;
	}
	#goldbg div h2 {
    font-size: 30px;
    line-height: 130px;
	}
	#goldbg div h4{
		font-size:16px;
	}
	#goldbg div h5{
		font-size:14px;
		margin-top: 35px;
	}
	#sobimg h1{
		font-size:30px;
	}
	#sobimg img {
		width: 300px;
	}
	#goldbg {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	footer p {
		font-size: 15px;
	}
}
@media (min-width: 500px) and (max-width: 699px) {
	#goldbg div.col-md-3{
		width:120px !important;
		height:120px !important;
		margin-left:5px;
		background-size:90% 90%;
	}
	#goldbg div h2 {
    font-size: 30px;
    line-height: 130px;
	}
	#goldbg div h4{
		font-size:16px;
	}
	#goldbg div h5{
		font-size:14px;
		margin-top: 35px;
	}
	#sobimg h1{
		font-size:30px;
	}
	#sobimg img {
		width: 300px;
	}
	#goldbg {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	footer p {
		font-size: 15px;
	}
}
@media (min-width: 300px) and (max-width: 499px) {
	#goldbg div.col-md-3{
		width: 45% !important;
		height: auto !important;
		margin-left:10px;
		background-size:90% 90%;
		margin-top: 10px;
	}
	#goldbg div.col-md-3:nth-child(1) {
     margin-left: 10px;
	}
	#goldbg div h2 {
		font-size: 30px;
		line-height: 130px;
	}
	#goldbg div h4{
		font-size:16px;
	}
	#goldbg div h5{
		font-size:14px;
		margin-top: 15px;
		margin-bottom: 16px;
	}
	#sobimg h1{
		font-size:18px;
	}
	
	#sobimg img {
		width: 60%;
		height: 110px !important;
		display:block;
	}
	#goldbg {
		margin-top: -20px;
		padding-top: 15px;
		padding-bottom: 60px;
	}
	footer p {
		font-size: 15px;
	}
	#triangledivider img, #triangledivider a {
		width: 97%;
	}	
}